.photostyle{
  /* display: flex;
  justify-content: center; */
  display:block; margin:0 auto;
  height: 600px;
  width: 400px;
}

.txt{

  color: rgb(24, 22, 22);
  padding: 10px;
  font-family: Arial;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}


.photo{
  float:left;
  width:20%;
}

.intro{
  margin-left:25%;
  width:50%;
}
