.txt{
  
    color: rgb(24, 22, 22);
    padding: 10px;
    font-family: Arial;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
  }

  .txt1{
  
    color: rgb(24, 22, 22);
    padding: 10px;
    font-family: Arial;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
  }